In [1]:
#!pip install xmltodict

In [2]:
import pandas as pd
import time
import requests
import json
import xmltodict
import ast

In [3]:
base_url = 'https://boardgamegeek.com/xmlapi2/thing?'
args = '&ratingcomments=1&pagesize=100'
rating_args = '&stats=1'

In [4]:
def fetch_multiple_ratings(user_ratings, ids, page):
    name = ''
    ids = str.join(',', [str(x) for x in ids])
    has_more_pages = False
    url = f"{base_url}id={ids}{args}&page={page}"

    try:
        response = requests.get(url)
        # Parse XML response
        parsed = xmltodict.parse(response.content)
        
        items = parsed['items']['item']
        for item in items:
            id = item['@id']
            name = item['name'][0]['@value'] \
                if type(item['name']) is list else item['name']['@value']

            if page * 100 >= 100 + int(item['comments']['@totalitems']):
                continue
            comments = item['comments']['comment']

            if not isinstance(comments, list):
                comments = [comments]

            for j in range(0, len(comments)):
                user_ratings[id].append({
                    'id': id,
                    'name': name,
                    'user': comments[j]['@username'],
                    'rating': comments[j]['@rating']
                })
            # display(user_ratings)
            if page * 100 <= int(item['comments']['@totalitems']):
                has_more_pages = True
        return has_more_pages
    except:
        print(url)
        print(response.content)
        if comments:
            display(comments)
        raise Exception()

## Get ratings for a range of game ids, and save all to a CSV.

In [5]:
def fetch_multiple(ids):
    ratings = {}
    errors = []
    has_more = True
    page = 1
    for id in ids:
        ratings[f"{id}"] = []

    while has_more:
        try:
            has_more = fetch_multiple_ratings(ratings, ids, page)
            print(f"Page {page} complete.")
            page = page + 1
        except:
            failing = True
            while failing:
                time.sleep(5)
                try:
                    has_more = fetch_multiple_ratings(ratings, ids, page)
                    failing = False
                except:
                    err_str = f"Error getting page {page}."
                    errors.append(err_str)
                    print(err_str)

    dfs = []
    for id in ids:
        df = pd.DataFrame(ratings[f"{id}"])
        dfs.append(df)
    df = pd.concat(dfs, ignore_index=True)
    print(errors)
    return df

def fetch_range(id_start, id_end):
    ids = [*range(id_start, id_end + 1)]
    df = fetch_multiple(ids)
    df.to_csv(f"game_{id_start}-{id_end}.csv")

## Filter games with a minimum user rating

In [6]:
def filter_on_rating(id_start, id_end, min_rating):
    ids = range(id_start, id_end)
    ids = str.join(',', [str(x) for x in ids])
    filtered_ids = []
    rating_counts = []
    try:
        response = requests.get(f"{base_url}id={ids}{rating_args}")
        # Parse XML response
        parsed = xmltodict.parse(response.content)
        
        items = parsed['items']['item']
        for item in items:
            id = item['@id']
            rating_count = int(item['statistics']['ratings']['usersrated']['@value'])
            rating = float(item['statistics']['ratings']['average']['@value'])
            if rating > min_rating:
                filtered_ids.append(int(id))
                rating_counts.append(rating_count)
            # display(item['statistics']['ratings']['average']['@value'])
    except:
        print(response.content)
        raise Exception()
    return [filtered_ids, rating_counts]
    
# ids = filter_on_rating(101, 200, 7)
# print(ids)
# print(len(ids))

In [12]:
id_start = 10001
id_end = 11000
min_rating = 7
ids, ratings = filter_on_rating(id_start, id_end, min_rating)
df = pd.DataFrame({'id': ids, 'rating_count': ratings})
df = df.loc[df['rating_count'] > 1].copy()
df

       id  rating_count
0   10013            24
1   10018             6
2   10019            13
3   10022            79
4   10055             7
..    ...           ...
90  10890            60
91  10904            96
92  10964           172
93  10971            36
94  10981             7

[91 rows x 2 columns]

In [8]:
df['id'].values

array([5024, 5042, 5045, 5058, 5069, 5072, 5087, 5117, 5169, 5171, 5205,
       5217, 5227, 5233, 5242, 5243, 5246, 5247, 5274, 5275, 5279, 5287,
       5288, 5289, 5290, 5291, 5292, 5293, 5305, 5324, 5351, 5357, 5369,
       5389, 5394, 5400, 5404, 5405, 5410, 5418, 5445, 5452, 5476, 5479],
      dtype=int64)

In [13]:
# df = fetch_multiple(ids)
df = fetch_multiple(df['id'].values)
# df = fetch_multiple([1803, 1818, 1821, 1822, 1872, 1879, 1883, 1887, 1890, 1894, 1915, 1929, 1966, 1967, 1968])
df.to_csv(f"game_{id_start}-{id_end}_min{min_rating}.csv")

Page 1 complete.
Page 2 complete.
Page 3 complete.
Page 4 complete.
Page 5 complete.
Page 6 complete.
Page 7 complete.
Page 8 complete.
Page 9 complete.
Page 10 complete.
Page 11 complete.
Page 12 complete.
Page 13 complete.
Page 14 complete.
Page 15 complete.
Page 16 complete.
Page 17 complete.
Page 18 complete.
Page 19 complete.
Page 20 complete.
Page 21 complete.
Page 22 complete.
Page 23 complete.
Page 24 complete.
Page 25 complete.
Page 26 complete.
Page 27 complete.
Page 28 complete.
Page 29 complete.
Page 30 complete.
Page 31 complete.
Page 32 complete.
Page 33 complete.
Page 34 complete.
Page 35 complete.
Page 36 complete.
Page 37 complete.
Page 38 complete.
Page 39 complete.
Page 40 complete.
Page 41 complete.
Page 42 complete.
Page 43 complete.
Page 44 complete.
Page 45 complete.
Page 46 complete.
Page 47 complete.
Page 48 complete.
Page 49 complete.
Page 50 complete.
Page 51 complete.
Page 52 complete.
Page 53 complete.
Page 54 complete.
Page 55 complete.
Page 56 complete.
Page 57 complete.
Page 58 complete.
Page 59 complete.
Page 60 complete.
Page 61 complete.
Page 62 complete.
Page 63 complete.
Page 64 complete.
Page 65 complete.
Page 66 complete.
Page 67 complete.
Page 68 complete.
Page 69 complete.
Page 70 complete.
Page 71 complete.
Page 72 complete.
Page 73 complete.
Page 74 complete.
Page 75 complete.
Page 76 complete.
Page 77 complete.
Page 78 complete.
Page 79 complete.
Page 80 complete.
Page 81 complete.
Page 82 complete.
Page 83 complete.
Page 84 complete.
Page 85 complete.
Page 86 complete.
Page 87 complete.
Page 88 complete.
Page 89 complete.
Page 90 complete.
Page 91 complete.
Page 92 complete.
Page 93 complete.
Page 94 complete.
Page 95 complete.
Page 96 complete.
Page 97 complete.
Page 98 complete.
Page 99 complete.
Page 100 complete.
Page 101 complete.
Page 102 complete.
Page 103 complete.
Page 104 complete.
Page 105 complete.
Page 106 complete.
Page 107 complete.
Page 108 complete.
Page 109 complete.
Page 110 complete.
Page 111 complete.
Page 112 complete.
Page 113 complete.
Page 114 complete.
Page 115 complete.
Page 116 complete.
Page 117 complete.
Page 118 complete.
Page 119 complete.
Page 120 complete.
Page 121 complete.
Page 122 complete.
Page 123 complete.
Page 124 complete.
Page 125 complete.
Page 126 complete.
Page 127 complete.
Page 128 complete.
Page 129 complete.
Page 130 complete.
Page 131 complete.
Page 132 complete.
Page 133 complete.
Page 134 complete.
Page 135 complete.
Page 136 complete.
Page 137 complete.
Page 138 complete.
Page 139 complete.
Page 140 complete.
Page 141 complete.
Page 142 complete.
Page 143 complete.
Page 144 complete.
Page 145 complete.
Page 146 complete.
Page 147 complete.
Page 148 complete.
Page 149 complete.
Page 150 complete.
Page 151 complete.
Page 152 complete.
Page 153 complete.
Page 154 complete.
Page 155 complete.
Page 156 complete.
Page 157 complete.
Page 158 complete.
Page 159 complete.
Page 160 complete.
Page 161 complete.
Page 162 complete.
Page 163 complete.
Page 164 complete.
Page 165 complete.
Page 166 complete.
Page 167 complete.
Page 168 complete.
Page 169 complete.
Page 170 complete.
Page 171 complete.
Page 172 complete.
Page 173 complete.
Page 174 complete.
Page 175 complete.
Page 176 complete.
Page 177 complete.
Page 178 complete.
Page 179 complete.
Page 180 complete.
Page 181 complete.
Page 182 complete.
Page 183 complete.
Page 184 complete.
Page 185 complete.
Page 186 complete.
Page 187 complete.
Page 188 complete.
Page 189 complete.
Page 190 complete.
Page 191 complete.
Page 192 complete.
Page 193 complete.
Page 194 complete.
Page 195 complete.
Page 196 complete.
Page 197 complete.
Page 198 complete.
Page 199 complete.
Page 200 complete.
Page 201 complete.
Page 202 complete.
Page 203 complete.
Page 204 complete.
Page 205 complete.
Page 206 complete.
Page 207 complete.
Page 208 complete.
Page 209 complete.
Page 210 complete.
Page 211 complete.
Page 212 complete.
Page 213 complete.
Page 214 complete.
Page 215 complete.
Page 216 complete.
Page 217 complete.
Page 218 complete.
Page 219 complete.
Page 220 complete.
Page 221 complete.
Page 222 complete.
Page 223 complete.
Page 224 complete.
Page 225 complete.
Page 226 complete.
Page 227 complete.
Page 228 complete.
Page 229 complete.
Page 230 complete.
Page 231 complete.
Page 232 complete.
Page 233 complete.
Page 234 complete.
Page 235 complete.
Page 236 complete.
Page 237 complete.
Page 238 complete.
Page 239 complete.
Page 240 complete.
Page 241 complete.
Page 242 complete.
Page 243 complete.
Page 244 complete.
Page 245 complete.
Page 246 complete.
Page 247 complete.
Page 248 complete.
Page 249 complete.
Page 250 complete.
Page 251 complete.
Page 252 complete.
Page 253 complete.
Page 254 complete.
Page 255 complete.
Page 256 complete.
Page 257 complete.
Page 258 complete.
Page 259 complete.
Page 260 complete.
Page 261 complete.
Page 262 complete.
Page 263 complete.
Page 264 complete.
Page 265 complete.
Page 266 complete.
Page 267 complete.
Page 268 complete.
Page 269 complete.
Page 270 complete.
Page 271 complete.
Page 272 complete.
Page 273 complete.
Page 274 complete.
Page 275 complete.
Page 276 complete.
Page 277 complete.
Page 278 complete.
Page 279 complete.
Page 280 complete.
Page 281 complete.
Page 282 complete.
Page 283 complete.
Page 284 complete.
Page 285 complete.
Page 286 complete.
Page 287 complete.
Page 288 complete.
Page 289 complete.
Page 290 complete.
Page 291 complete.
Page 292 complete.
Page 293 complete.
Page 294 complete.
Page 295 complete.
Page 296 complete.
Page 297 complete.
Page 298 complete.
Page 299 complete.
Page 300 complete.
Page 301 complete.
Page 302 complete.
Page 303 complete.
Page 304 complete.
Page 305 complete.
Page 306 complete.
Page 307 complete.
Page 308 complete.
Page 309 complete.
Page 310 complete.
Page 311 complete.
Page 312 complete.
Page 313 complete.
Page 314 complete.
Page 315 complete.
Page 316 complete.
Page 317 complete.
Page 318 complete.
Page 319 complete.
Page 320 complete.
Page 321 complete.
Page 322 complete.
Page 323 complete.
Page 324 complete.
Page 325 complete.
Page 326 complete.
Page 327 complete.
Page 328 complete.
Page 329 complete.
Page 330 complete.
Page 331 complete.
Page 332 complete.
Page 333 complete.
Page 334 complete.
Page 335 complete.
Page 336 complete.
Page 337 complete.
Page 338 complete.
Page 339 complete.
Page 340 complete.
Page 341 complete.
Page 342 complete.
Page 343 complete.
Page 344 complete.
Page 345 complete.
Page 346 complete.
Page 347 complete.
Page 348 complete.
Page 349 complete.
Page 350 complete.
Page 351 complete.
Page 352 complete.
Page 353 complete.
Page 354 complete.
Page 355 complete.
Page 356 complete.
Page 357 complete.
Page 358 complete.
Page 359 complete.
Page 360 complete.
Page 361 complete.
Page 362 complete.
Page 363 complete.
Page 364 complete.
Page 365 complete.
Page 366 complete.
Page 367 complete.
Page 368 complete.
Page 369 complete.
Page 370 complete.
Page 371 complete.
Page 372 complete.
Page 373 complete.
Page 374 complete.
Page 375 complete.
Page 376 complete.
Page 377 complete.
Page 378 complete.
Page 379 complete.
Page 380 complete.
Page 381 complete.
Page 382 complete.
Page 383 complete.
Page 384 complete.
Page 385 complete.
Page 386 complete.
Page 387 complete.
Page 388 complete.
Page 389 complete.
Page 390 complete.
Page 391 complete.
Page 392 complete.
Page 393 complete.
Page 394 complete.
Page 395 complete.
Page 396 complete.
Page 397 complete.
Page 398 complete.
Page 399 complete.
Page 400 complete.
Page 401 complete.
Page 402 complete.
Page 403 complete.
Page 404 complete.
Page 405 complete.
Page 406 complete.
Page 407 complete.
Page 408 complete.
Page 409 complete.
Page 410 complete.
Page 411 complete.
Page 412 complete.
Page 413 complete.
Page 414 complete.
Page 415 complete.
Page 416 complete.
Page 417 complete.
Page 418 complete.
Page 419 complete.
Page 420 complete.
Page 421 complete.
Page 422 complete.
Page 423 complete.
Page 424 complete.
Page 425 complete.
Page 426 complete.
Page 427 complete.
Page 428 complete.
Page 429 complete.
Page 430 complete.
Page 431 complete.
Page 432 complete.
Page 433 complete.
Page 434 complete.
Page 435 complete.
Page 436 complete.
Page 437 complete.
Page 438 complete.
Page 439 complete.
Page 440 complete.
Page 441 complete.
Page 442 complete.
Page 443 complete.
Page 444 complete.
Page 445 complete.
Page 446 complete.
Page 447 complete.
Page 448 complete.
Page 449 complete.
Page 450 complete.
Page 451 complete.
Page 452 complete.
Page 453 complete.
Page 454 complete.
Page 455 complete.
Page 456 complete.
Page 457 complete.
Page 458 complete.
Page 459 complete.
Page 460 complete.
Page 461 complete.
Page 462 complete.
Page 463 complete.
Page 464 complete.
[]

In [18]:
# df1 = pd.read_csv('game_5001-5500_min7.csv')
# df2 = pd.read_csv('game_5501-6000_min7.csv')
# df3 = pd.read_csv('game_2701-3000_min7.csv')
df = pd.concat([
    pd.read_csv('game_5001-6000_min7.csv'),
    pd.read_csv('game_6001-6500_min7.csv'),
    pd.read_csv('game_6501-7000_min7.csv'),
    pd.read_csv('game_7001-7500_min7.csv'),
    pd.read_csv('game_7501-8000_min7.csv'),
    pd.read_csv('game_8001-8500_min7.csv'),
    pd.read_csv('game_8501-9000_min7.csv'),
    pd.read_csv('game_9001-9500_min7.csv'),
    pd.read_csv('game_9501-10000_min7.csv')
    # pd.read_csv('game_5501-6000_min7.csv'),
])
df = df[['id', 'name', 'user', 'rating']]
df.to_csv('game_5001-10000_min7.csv')

In [9]:
df_a = pd.read_csv('game_1.csv')
df_b = pd.read_csv('game_3.csv')
df_c = pd.read_csv('game_5.csv')
df_d = pd.read_csv('game_11.csv')
df_e = pd.read_csv('game_12.csv')
df_f = pd.read_csv('game_13.csv')
df_g = pd.read_csv('game_18.csv')
df = pd.concat([df_a, df_b, df_c, df_d, df_e, df_f, df_g])
df = df[['id', 'name', 'user', 'rating']]
df

df.to_csv(f"game_1-20_min7.csv")

In [27]:
df_a = pd.read_csv('game_1501-1800_min7.csv')
df_b = pd.read_csv('game_1801-2000_min7.csv')
# df_c = pd.read_csv('game_701-800_min7.csv')
# df_d = pd.read_csv('game_801-900_min7.csv')
# df_e = pd.read_csv('game_901-1000_min7.csv')
# df_f = pd.read_csv('game_401-500_min7.csv')

df = pd.concat([df_a, df_b])
# df = pd.concat([df_a, df_b, df_c, df_d, df_e])
df = df[['id', 'name', 'user', 'rating']]
df

df.to_csv(f"game_1501-2000_min7.csv")

In [13]:
df = df[['id', 'name', 'user', 'rating']]
df

        id                name                user  rating
0       42  Tigris & Euphrates                pjly    10.0
1       42  Tigris & Euphrates          gamegarage    10.0
2       42  Tigris & Euphrates            swiftlex    10.0
3       42  Tigris & Euphrates             martang    10.0
4       42  Tigris & Euphrates               HankM    10.0
...     ..                 ...                 ...     ...
103922  94       Union Pacific               jsect     1.0
103923  94       Union Pacific           Jumarik45     1.0
103924  94       Union Pacific  controlledinsanity     1.0
103925  94       Union Pacific      chrisandrachel     1.0
103926  94       Union Pacific              ost006     1.0

[165986 rows x 4 columns]